body{
    background:#1a2222;
    color: white;
    font-family:Helvetica Neue, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
/*HEADER*/
header{
    background-color: black;
    background-image: url("images/cup-of-coffee-and-coffee-beans.jpg");
    background-size:100%;
    background-position:center;
    height:400px;
    padding:20px;
    text-align:center;
}

header a{
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    margin-top:60px;
}
header .mobile{
    display: none;

}

header .logo a{
    background-image: url("images/gloria-logo.png");
    background-size:300px;
    background-repeat: no-repeat;
    display:inline-block;
    height:200px;
    position: relative;
    text-indent:-999999999px;
    top:-65px;
    width:300px;
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display:inline-block;
    /*background:gray;*/
   /* padding: 20px;*/
    margin-right:20px;
}

/*RESPONSIVE RULES*/
@media screen and (max-width: 710px){
    header {
        height: 300px;
        background-position: 0 -30px
    }
    header .mobile{
        display: inline-block;
    }
    header .desktop{
        display:none;
    }
}
@media screen and (max-width: 570px){
    header{
        height:250px;
        background-image : url("/images/Coffee-2.jpg");
        background-position :0 -0px;
    }
}

/*FEATURES*/
.features{
    background:white;
    color:gray;
    padding:20px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}   
.features figure{
    margin:auto;
    text-align: center;
    text-transform:uppercase;
    width:200px;
}       
.features figure img{
    border: 1px solid white;
    border-radius: 100px;
    box-shadow: gray 0px 10px 10px;
    width:150px;
    height:100px;
}
div{
    background:rgb(224, 224, 88);
    margin: auto;
    width:  100px;
}


a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section.feature-box{
        display:flex;
}
.feature-box div{
    width: 100%;
    margin: 2px;
}

/*REPSONSIVE RULES
@media screen and (){
  .features{
      display: block;
  }  
}*/
/*FOOTER*/
footer{
    background:black;
    color:gray;
    font-size:12px;
    padding: 20px 20px;
    text-align:center;
}

